<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @mineracao.nome %>
</p>

<p>
  <strong>Acronimo:</strong>
  <%= @mineracao.acronimo %>
</p>

<%= link_to 'Edit', edit_mineracao_path(@mineracao) %> |
<%= link_to 'Back', mineracaos_path %>
